@model List<My_Web.Models.CartItem>
@{
    Layout = "~/Views/Shared/layoutuser.cshtml";
}
<h2>Giỏ hàng của bạn</h2>
<table>
    <thead>
        <tr>
            <th>Sản phẩm</th>
            <th>Số lượng</th>
            <th>Giá</th>
            <th>Thành tiền</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.ProductName</td>
                <td>@item.Quantity</td>
                <td>@item.Product.Price.ToString("N0")</td>
                <td>@(item.Product.Price* item.Quantity).ToString("N0")</td>
                <td>
                    <a href="/User/Cart/Remove/@item.ProductID">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/User/Order/Checkout">Tiến hành đặt hàng</a>
